{% render 'partials/head.liquid', title: title %}
{% comment %} <nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/overzicht">Overzicht</a></li>
    <li><a href="/add">Instrument toevoegen</a></li>
  </ul>
</nav> {% endcomment %}

{%  render 'partials/foot.liquid' %}